<header class="py-sm-3 pt-3 pb-2" id="home">
  <div class="container">
    <!-- nav -->
    <div class="top d-md-flex">
      <div id="logo">
        <h1> <a [routerLink]="['/']"><span class="fa fa-yoast"></span>oga Lite</a></h1>
      </div>
      <div class="search-form mx-md-auto">
        <div class="form-w3layouts-grid">
          <form action="#" method="post" class="newsletter">
            <input class="search" type="search" placeholder="Search..." required="">
            <button class="form-control btn" value=""><span class="fa fa-search"></span></button>
          </form>
        </div>
      </div>
      <div class="forms mt-md-0 mt-2">
        <a [routerLink]="['/login']" class="btn"><span class="fa fa-user-circle-o"></span> Sign In</a>
        <a [routerLink]="['/register']" class="btn"><span class="fa fa-pencil-square-o"></span> Sign Up</a>
      </div>
    </div>
    <nav class="text-center">
      <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
      <input type="checkbox" id="drop" />
      <ul class="menu">
        <li class="active"><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/about']">About Us</a></li>
        <li>
          <!-- First Tier Drop Down -->
          <label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
          </label>
          <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
          <input type="checkbox" id="drop-2" />
          <ul>
            <li><a [routerLink]="['/services']" class="drop-text">Services</a></li>
            <li><a href="#stats" class="drop-text">Statistics</a></li>
            <li><a href="#test" class="drop-text">Reviews</a></li>
            <li><a [routerLink]="['/single']" class="drop-text">More Info</a></li>

          </ul>
        </li>

        <li><a [routerLink]="['/events']">Events</a></li>
        <li><a [routerLink]="['/contact']">Contact</a></li>
      </ul>
    </nav>
    <!-- //nav -->
  </div>
</header>
<!-- //header -->
