body{
    background-color:#fbff00;
    background-image: url('PraimLogo.png');
    background-repeat: repeat; 
    background-size: 300px;

}
.container {
    background-color: #fff;
    margin-top: 40px;
    padding: 20px;
    width: 70%;
}
textarea#Textarea1 {
    margin: 20px;
}
label#showBill {
    text-align: center;
    color: red;
    font-size: x-large;
    font-family: cursive;
}
label#showBill {
    margin-left: 35%;
}
/* .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid yellow;
    border-bottom: 10px solid yellow;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */