<app-header></app-header>
<div class="main-content inner">
  <div class="overlay inner">

  </div>
</div>
<!--// banner -->
<!-- banner-bottom -->
<section class="contact-main py-5">
  <div class="container py-md-5">
    <h3 class="title-w3pvt text-center">Contact Us</h3>
    <div class="comment-top mt-5 row">
      <div class="col-lg-5 comment-bottom w3pvt_mail_grid-img">
        <img class="img-fluid" src="/assets/images/contact.jpg" alt="">
      </div>
      <div class="col-lg-7 comment-bottom w3pvt_mail_grid_right">
        <form action="#" method="post">
          <div class="row">

            <div class="col-lg-6 form-group">
              <label>First Name</label>
              <input class="form-control" type="text" name="Name" placeholder="" required="">
            </div>
            <div class="col-lg-6 form-group">
              <label>Last Name</label>
              <input class="form-control" type="text" name="Name" placeholder="" required="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 form-group">
              <label>Email</label>
              <input class="form-control" type="email" name="Email" placeholder="" required="">
            </div>
            <div class="col-lg-6 form-group">
              <label>Phone Number</label>
              <input class="form-control" type="text" name="number" placeholder="" required="">
            </div>

          </div>
          <div class="form-group">
            <label>Write Message</label>
            <textarea class="form-control" name="Message" placeholder="" required=""></textarea>
          </div>
          <button type="submit" class="read-more btn submit mt-3">Submit</button>
        </form>
      </div>

    </div>

    <ul class="list-unstyled row text-left mt-lg-5 pt-lg-5  pb-lg-3">
      <li class="col-lg-4 adress-info">
        <div class="row">
          <div class="col-md-3 text-lg-center adress-icon">
            <span class="fa fa-map-marker"></span>
          </div>
          <div class="col-md-9 text-left">
            <h6>Location</h6>
            <p>The company name
              <br>California, USA </p>
          </div>
        </div>
      </li>

      <li class="col-lg-4 adress-info">
        <div class="row">
          <div class="col-md-3 text-lg-center adress-icon">
            <span class="fa fa-envelope-open-o"></span>
          </div>
          <div class="col-md-9 text-left">
            <h6>Email</h6>
            <a href="mailto:info@example.com">mail@example.com</a>
            <br>
            <a href="mailto:info@example.com">mail2@example.com</a>
          </div>
        </div>
      </li>
      <li class="col-lg-4 adress-info">
        <div class="row">
          <div class="col-md-3 text-lg-center adress-icon">
            <span class="fa fa-mobile"></span>
          </div>
          <div class="col-md-9 text-left">
            <h6>Phone Number</h6>
            <p>+ 1234567890</p>
            <p>+ 0987654321</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="map-fo mt-lg-5 mt-4">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423286.27404345275!2d-118.69191921441556!3d34.02016130939095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos+Angeles%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1522474296007"
        allowfullscreen=""></iframe>
    </div>

  </div>
</section>
<!-- //banner-bottom -->
<!--/help-line -->
<section class="help-line-w3layouts py-5">
  <div class="container">
    <div class="row help-line-grid">
      <div class="col-sm-6">
        <h3>Contact Us</h3>
        <p>Call us, we are 24/7 Helpline</p>
      </div>
      <div class="col-sm-6 text-sm-right mt-sm-0 mt-3">
        <h3><span class="fa fa-phone" aria-hidden="true"></span> +11 2345 6789</h3>
      </div>
    </div>
  </div>
</section>
<!--//help-line -->
<!-- footer -->
<footer class="footer-content py-5">
  <div class="container-fluid py-lg-5 inner-sec-w3ls">
    <div class="row">
      <div class="col-lg-4 footer-top mt-md-0 mt-sm-5 pr-lg-5">
        <h2>
          <a class="navbar-brand" href="index.html">
            <span class="fa fa-yoast"></span>oga Lite</a>
        </h2>
        <p class="my-3">Donec consequat sam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
          minus</p>

      </div>
      <div class="col-lg-3 mt-md-0 mt-5">
        <div class="footer-w3pvt">
          <h3 class="mb-3 w3pvt_title">Navigation</h3>
          <hr>
          <div class="row">
            <ul class="col-6 list-info-w3pvt links">

              <li>
                <a [routerLink]="['/']">
                  Home
                </a>
              </li>
              <li>
                <a href="about.html">
                  About Us
                </a>
              </li>
              <li>
                <a href="events.html">
                  Events
                </a>
              </li>
              <li>
                <a href="services.html">
                  Services
                </a>
              </li>
              <li>
                <a href="contact.html">
                  Contact Us
                </a>
              </li>

            </ul>
            <ul class="col-6 list-info-w3pvt links">
              <li>
                <a href="about.html">
                  Our Mission
                </a>
              </li>
              <li>
                <a href="events.html">
                  Latest Posts
                </a>
              </li>
              <li>
                <a href="#">
                  Explore
                </a>
              </li>
              <li>
                <a href="contact.html">
                  Find us
                </a>
              </li>
              <li>
                <a href="events.html">
                  Privacy Policy
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <div class="col-lg-2 mt-lg-0 mt-5">
        <div class="footer-w3pvt">
          <h3 class="mb-3 w3pvt_title">Contact Us</h3>
          <hr>
          <div class="last-w3layouts-contact">
            <p>
              <a href="mailto:example@email.com">info@example.com</a>
            </p>
          </div>
          <div class="last-w3layouts-contact my-2">
            <p>+ 456 123 7890</p>
          </div>
          <div class="last-w3layouts-contact">
            <p>+ 90 nsequursu dsdesdc,
              <br>xxx Honey State 049436.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mt-lg-0 mt-5">
        <div class="footer-w3pvt">
          <h3 class="mb-3 w3pvt_title">Stay up to date</h3>
          <hr>
          <div class="footer-text">
            <p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
            <form action="#" method="post">
              <input type="email" name="Email" placeholder="Enter your email..." required="">
              <button class="btn1 btn"><span class="fa fa-paper-plane-o" aria-hidden="true"></span></button>
            </form>
          </div>
        </div>

      </div>
    </div>

  </div>
</footer>
<!-- //footer -->
<div class="copy-right py-2">
  <div class="container-fluid inner-sec-w3ls">
    <div class="row">
      <div class="col-lg-6 copy-w3pvt">
        <p class="copy-right-grids text-li text-left my-sm-4 my-4">© 2019 Yoga Lite. All Rights Reserved | Design by
          <a href="http://w3layouts.com/"> W3layouts </a>
        </p>
      </div>
      <div class="col-lg-5 w3layouts-footer text-right">
        <ul class="social_section_1info">
          <li class="mb-2 facebook"><a href="#"><span class="fa fa-facebook"></span> facebook</a></li>
          <li class="mb-2 twitter"><a href="#"><span class="fa fa-twitter"></span> twitter</a></li>
          <li class="google"><a href="#"><span class="fa fa-google-plus"></span> google</a></li>
          <li class="linkedin"><a href="#"><span class="fa fa-linkedin"></span> linkedin</a></li>
        </ul>
      </div>
      <div class="move-top col-1"><a href="#home" class="move-top"> <span class="fa fa-angle-up"
            aria-hidden="true"></span></a></div>
    </div>
    <!-- //footer bottom -->
  </div>
</div>